*{
	margin: 0px;
	padding: 0px;
}

/*Navbar*/

nav{
	background-color: #222326;
}

.side-nav{
	background-color: #222326;
}

.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a li>a>[class*="mdi-"], .side-nav li>a>i.material-icons {
    color: white;
}

.side-nav li>a {
    color: white;
}

.side-nav li>a:hover {
    color: #f6a800;
}

.logo-nav{
    height: 40px;
    margin-top: 7px;
}

/*Index1*/

.page1{
	background-image: url(../docs/backgroundopacity.jpg);
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.logo-inicio{
	margin-top: 50px;
    height: 220px;
}

.btn-index1{
	background-color: #f6a800;
	margin-left: 100px;
}

.btn-index1:hover{
	background-color: grey;
}

.olvidaste{
	margin-left: 100px;
	color: black;
}

.olvidaste:hover{
	color: #f6a800;
}

.registration{
	color: #f6a800;
}

.registration:hover{
	color: black;
}

/*Index2*/

.btn-index2{
	background-color: #f6a800;
	width: 300px;
}

.btn-index2:hover{
	background-color: grey;
}

.lista-index2{
	margin-top: 100px;
}

/*Index3*/

.index3{
	background-image: url(../docs/backgroundindex3.jpg);
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.container{
	margin-top: 60px;
}

.row-dropdown1{
	margin-top: 50px;
}

.tarifa{
	color: black;
	font-size: 15px;
}

.tarjeta{
	color: black;
	font-size: 15px;
}

.btn-tarifa, .btn-tarjeta, .btn-calcular{
	background-color: #f6a800;
}

.btn-tarifa, .btn-tarjeta{
	height: 70px;
}

.btn-tarifa:hover, .btn-tarjeta:hover, .btn-calcular:hover{
	background-color: grey;
}

/*Index4*/

.userimage{
    height: 120px;
}

.userbox{
	background-color: #222326;
	margin: 0px;
}

.imgbox{
	margin-top: 50px;
	margin-bottom: 50px;
}

.datos-row{
	background-color: #f6a800;

}

.datos-row h6{
	margin-top: -20px;
	font-weight: bold;
}

.datos-row p{
	margin-bottom: 20px;
}

.btn-agregartarjeta{
	background-color: #f6a800;
}

.btn-agregartarjeta:hover{
	background-color: grey;
	font-weight: bold;
}

.tarjetas{
	margin-top: 20px;
}

.cardbox {
    background-color: #f6a800;
    color: white;
    width: 150px;
    border-radius: 5px;
    height: 30px;
    font-size: 20px;
    font-weight: lighter;
    margin-left: 115px;
    margin-top: 5px;
}

/*Index5*/

.titulo-preguntas, .link-preguntas{
	color: #f6a800;
}


/*Index6*/

.btn-tarjeta2{
	background-color: #f6a800;
}

.btn-tarjeta2:hover{
	background-color: grey;
}

.dropdown-content li>a{
	color: #f6a800;
}

.saldobox{
	background-color: #f6a800;
    color: white;
    width: 380px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 5px;
}

.respuestabox{
	background-color: #f6a800;
    color: white;
    width: 180px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 5px;
}

