*{
	margin: 0px;
	padding: 0px;
}

/*Navbar*/

.logo-nav{
    height: 40px;
    margin-top: 7px;
}

/*Agregando tarjetas*/

.userbox{
	background-color: yellow;
	margin: 0px;
}

.userimage{
    height: 120px;
}